{% extends "users/profile_base.html" %} {% load static %} {% block profile %}

<div class="col-md-6 offset-0 my-3">
    <div class="justify-content-center ml-2 border-bottom  my-3">
        Profile
    </div>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td class="text-right">Uploaded files: </td>
                <td class="text-left">Placeholder</td>
            </tr>
            <tr>
                <td class="text-right">Attribute 2</td>
                <td class="text-left"></td>
            </tr>
            <tr>
                <td class="text-right">Attribute 2</td>
                <td class="text-left"></td>
            </tr>
            <tr>
                <td class="text-right">Attribute 2</td>
                <td class="text-left"></td>
            </tr>
        </tbody>
    </table>
    <small><a class="ml-2" href="#">Edit profile</a></small>
</div>

{% endblock profile %}