{% load static %}



<!-- header begin -->
<header class="header-light transparent scroll-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between">
                    <div class="align-self-center header-col-left">

                    </div>
                    <div class="align-self-center ml-auto header-col-mid">
                        <!-- mainmenu begin -->
                        <ul id="mainmenu">
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            

                            <li>
                                <a href="{% url 'filterFormView' %}">Tag filter</a>
                                
                                

                            </li>
             

                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="align-self-center ml-auto header-col-right">
                        <a class="btn-custom" href="{% url 'profile' %}">Profile</a>
                        <span id="menu-btn"></span>

                    </div>
                    {% else %}
                    <div class="align-self-center ml-auto header-col-right">
                        <a class="btn-custom" href="{% url 'login' %}">Login</a>
                        <span id="menu-btn"></span>

                    </div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header close -->